*{
  	margin: 0;
  	padding: 0;
	}
  /*barra navegacion*/
.barra-navegacion{
	margin: 0;
	padding: 0;
	background-color: #f5f5f5 !important;
	border: none !important;
	width: 100% !important;
}
.barra-navegacion a{
	color: black !important;

}
.barra-navegacion a:hover{
	color: #2c3e50 !important;
}
.logo{
	padding: 0;
	margin: 0;
	margin-top: 10px
}
.navbar-header a img{
	width: 260px;
}
.menu-header{
	float: right;
}


/*fin barra navegacion*/

/*header*/
.header{
	background: url(../public/img/header.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	width: 100%;
	height: 580px;
	/*	margin: 0;
	padding: 0;*/
}
.content-header{
	padding-top: 38px;
	text-align: center;
	padding-top: 90px;
}
.img-tablet img{
	width: 500px;
}
.espacio-tablet{
	margin-left: 22px;
}
.espacio-tablet p{
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	font-size: 250%;
	margin-top: 2%;
	background:rgba(16,20,26,0.4);
}
.botones-app p{
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	font-size: 250%;
	margin-top: 2%;
	background:rgba(16,20,26,0.4);
}
.botones-app img{
	width: 120px;
	padding: 4px;			
}
/*fin header*/

/*Información*/
.info-planes{
	background-color: #FFF;
	margin: 0;
	padding: 40px;
}
.item-info{
	text-align: center;
}
.item-info i{
	font-size: 5em;
	color:White;
}
.titulo_botones{
	font-family: 'Bitter', serif;
	font-size: 25px;
	font-style: bold;
	text-shadow: 0.1em 0.1em 0.9em black;
	color:white;
}
.parrafo_botones{
	font-family: 'Bitter', serif;
	font-size: 20px;
	margin-top: 0px;
	text-shadow: 0.1em 0.1em 0.4em black;
	color:white;
}
/*fin Información*/

/*carousel clientes*/
.clientes{
	background-color: #F1F3F1;
	margin: 0;
	padding: 60px;
}
.clientes h2{
	text-align: center;
	text-transform: uppercase;
}
.carousel{
	background-color: #ebebed !important;
	width: 100%;
}
.carousel .item{
	text-align: center;
}

.carousel .item img{
	display: inline;
}
.carousel-control{
	width: 0 !important;
}
/*fin carousel clientes*/


/* Como funciona */
.comoFunciona{
	background-color: #008db1;
	margin: 0;
	padding: 0;
	padding-bottom: 10%;
	padding-top: 40px;
}
.comoFunciona h2{
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
/*	margin-bottom: 80px;*/
	padding-top: 27px;
}
.comoFunciona{
	margin: 0;
	padding:0;
}
.comoFunciona{
	text-align: center;
}
.video{
	padding: 30px;

}
/* Fin Como funciona */



/* footer */
.footer{
	background-color: #003748;
	color: #FFF;
	padding: 40px;
	/*margin-top: 10%;*/

}
.footer p{
	font-size: 1.2em;
	margin: 0;
	padding: 0;
}
.footer i{
	color: #FFF;
	font-size: 2em;
	padding: 4px;
}
.footer i:hover{
	color: #008db1;
}
/* fin footer */


/* Login */

.login{
	margin: 0;
	padding: 20px;
	margin-top: 5%;
	margin-bottom:5%;
}
.login .frm-login{
	background-color: #ecf0f1;
	/*padding: 28px;*/
	/*padding-top: 0;*/
	margin: 0;
	padding: 0;
}

.login .frm-login .frm{
	padding: 28px;
	color: #7f8c8d;
}

.login .frm-login h2{
	text-align: center;
	padding: 10px;
	margin-top: 0;
	background-color: #e67e22;
	color: #FFF;
}
.centradologin{
  margin: auto; max-width: 300px;
  padding-top: 76px;
}
.centradosignup{
	  margin: auto; max-width: 500px;
	   padding-top: 76px;
}
/* Fin Login */

/*  Pnanel admin  */
.menu-panel{
	margin: auto;
}

.menu-panel .item-menu-panel{
	background-color: #ecf0f1;
	padding: 12px;
}
.menu-panel .item-menu-panel i{
	padding: 6px;
	margin-right: 6px;
	color: #FFF;
	border-radius: 50%;
	background-color: #f39c12;
}

.menu-panel .item-menu-panel a{
	padding: 6px;
	font-size: 1.1em;
	text-transform: uppercase;
	/*text-decoration: underline;*/
}
.menu-panel .item-menu-panel a:hover{
	background-color: #bdc3c7;
	text-decoration: none;
}

.item-panel{
	text-align: center;
	margin: 0;
	padding: 20px;
	padding-bottom: 0;
}

.item-panel i{
	font-size: 3.8em;
	color: #16a085;
	padding-bottom: 8px;
}
.item-panel p{
	color: #f39c12;
	font-size: 1.8em;
	padding: 0;
	margin: 0;
}
.admin{
	margin: 20px;
}

.admin .new-menu{
	margin-bottom: 10px;
}

.imagen-plato{
	width: 120px;
}
/* Fin Pnanel admin  */

/*formulario de contacto*/
.formulario{
	margin-bottom:  50%;
}
.formulario h2{
	padding-left:  10%;
}
.camposformulario{
	padding-left: 0px;
	padding-right: 0px;
}
.espacio {
	padding-bottom: 50px;
	padding: 50px;
}
/*Fin de formulario*/
.botones-menu{
	background:rgba(0, 141, 177,1.0);
 box-shadow: 10px 10px 5px #888888;
 width: 216px;
 margin: 0 auto;
 height: 184px;
 text-align: center;
 margin-right:auto; 
 padding-top: 10px;
}

body {overflow-x:hidden;}