<!-- <div class="row item-panel">
	<div class="col-md-12">
		<div class="col-md-4">
			<i class="fa fa-coffee"></i>
			<p>5</p>
		</div>

		<div class="col-md-4">
			<i class="fa fa-calendar-check-o"></i>
			<p>10</p>
		</div>

		<div class="col-md-4">
			<i class="fa fa-laptop"></i>
			<p>20</p>
		</div>
	</div>
</div> -->

<div class="row menu-panel">
    <div class="col-md-12">
        <div class="item-menu-panel">
            <a href="#/panel"><i class="fa fa-cutlery"></i>Menú</a>
            <a href="#/pedidos"><i class="fa fa-calendar-check-o"></i>Pedidios</a>
            <a href="#/promo"><i class="fa fa-money"></i>Promociones</a>
            <!-- <a href=""><i class="fa fa-users"></i>Cliente frecuente</a> -->
            <a href=""><i class="fa fa-bar-chart"></i>Informes</a>
        </div>
    </div>
</div>

<div class="row admin">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">Gestión de Menú</div>
			<div class="panel-body">
                <h1 ng-controller="loginController">Tipo: {{rol}}</h1>
                <div class="col-md-4">
                    <button class="btn btn-success btn-md new-menu" data-toggle="modal" data-target="#categoria">Agregar categoría</button>
                    <div class="panel panel-default">
                        <div class="panel-heading">Mis categorías</div>
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Imagen</th>
                                        <th>Nombre</th>
                                        <th>Editar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="categoria in categorias">
                                        <td>{{$index + 1}}</td>
                                        <td><img class="img_categoria" ng-src="http://tucocinavirtual.com/test/uploads/{{categoria.imagen}}"></td>
                                        <td>{{categoria.nombreCategoria}}</td>
                                        <td><button class="btn btn-success btn-sm" data-toggle="modal" data-target="#categoria">Editar</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                    </div>
                </div>

                <div class="col-md-8">
				<button class="btn btn-success btn-md new-menu" data-toggle="modal" data-target="#add-plato">Crear plato al menú</button>
				<div class="panel panel-default">
					<div class="panel-heading">Listado de platos</div>
					<div class="panel-body">
                        <div class="services table-responsive">
    						<table class="table">
    							<thead>
    								<tr>
    									<th>#</th>
                                        <th>Imagen</th>
    									<th>Nombre</th>
                                        <th>Descripción</th>
    									<th>Valor</th>
                                        <th>Categoría</th>
                                        <th>Ingredientes</th>
    									<th>Adicionales</th>
    									<th>Estado</th>
    									<th>Editar</th>
    								</tr>
    							</thead>

    							<tbody>
    								<tr ng-repeat="plato in platos">
    									<td>{{$index + 1}}</td>
                                        <td><img class="imagen-plato" ng-src="http://tucocinavirtual.com/test/uploads/{{plato.imagen}}"></td>
                                        <td>{{plato.nombrePlato}}</td>
    									<td>{{plato.descripcion}}</td>
    									<td><span class="label label-success">${{plato.valor}}</span></td>
                                        <td>{{plato.idCategoria.nombreCategoria}}</td>
    									<td><a href="" ng-click="ingredientesLoad(plato.$id)" data-toggle="modal" data-target="#ingredientes">Ingredientes</a></td>
                                        <td><a href="" ng-click="adicionalesLoad(plato.$id)" data-toggle="modal" data-target="#adicionales">Adicionales</a></td>
    									<td><span class="label label-success">{{plato.estado}}</span></td>
    									<td><button class="btn btn-success btn-sm" data-toggle="modal" data-target="#edit-plato">Editar</button></td>
    								</tr>
    							</tbody>
    						</table>
                        </div>
					</div>
                </div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="categoria">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Crear nueva categoría</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="nomre">Nombre de la categoría</label>
                        <input ng-model="nombreCategoria" type="text" class="form-control" id="nombre" />
                    </div>
                    <div class="form-group">
                        <label for="imagen">Imagen</label>
                        <input file-model="imagen" type="file" class="form-control" id="imagen" />
                    </div>
                </form>

                <div class="alert alert-dismissable alert-success" ng-show="ver">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>{{respuesta_categoria}} </strong>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="addCategoria()">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="add-plato">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Crear nuevo plato</h4>
            </div>
            <div class="modal-body">
                <!-- <p>Actualizar plato</p> -->
                <form>
                    <div class="row">
                        <div class="col-md-6">
                        	<div class="form-group">
                        		<label for="nombre">Nombre</label>
                        		<input ng-model="nombrePlato" type="text" class="form-control" id="nombre" />
                        	</div>
                        </div>
                        <div class="col-md-6">
                        	<div class="form-group">
                        		<label for="valor">Valor</label>
                        		<input ng-model="valor" type="text" class="form-control" id="valor" />
                        	</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="cate">Categoría</label>
                                  <select ng-model="categoria" class="form-control" id="cate" ng-options="cate.$id as cate.nombreCategoria for cate in categorias">
                                    <option style="display:none" value="">Seleccione</option>
                                   <!--  <option value="Corriente">Corriente</option>
                                    <option value="A la carta">A la carta</option>
                                    <option value="Postre">Postre</option> -->
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">   
                            <div class="form-group">
                                <label for="estado">Estado</label>
                                  <select ng-model="estado" class="form-control" id="estado">
                                    <option style="display:none" value="">Seleccione</option>
                                    <option value="Plato del dia">Plato del dia</option>
                                    <option value="NO">NO</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="descripcion">Descripción</label>
                                <!-- <input type="text" class="form-control" id="descripcion" /> -->
                                <textarea ng-model="descripcion" id="descripcion" class="form-control" cols="6" rows="2" placeholder="Ingrese una descripción del plato"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="imagen">Imagen</label>
                                <input file-model="imagen" type="file" class="form-control" id="imagen" />
                            </div>
                        </div>
                    </div>
                </form>
<!-- 
                <div class="panel panel-default" ng-show="ver_ingrediente">
                	<div class="panel-heading">Ingredientes</div>
                	<div class="panel-body">
                		<button ng-click="platoEdit()" class="btn btn-success" data-toggle="modal" data-target="#add-ingrediente">Agregar ingrediente</button>
                		<table class="table">
                			<thead>
                				<tr>
                					<th>#</th>
                					<th>Nombre</th>
                				</tr>
                			</thead>
                			<tbody>
                				<tr>
                					
                				</tr>
                			</tbody>
                		</table>
                	</div>
                </div> -->
     <!--             <div class="panel panel-default" ng-show="ver_ingrediente">
                    <div class="panel-heading">Adicionales</div>
                    <div class="panel-body">
                        <button class="btn btn-success" data-toggle="modal" data-target="#add-adicional">Agregar adicional</button>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> -->

            
                <div class="alert alert-dismissable alert-success" ng-show="ver_res_plato">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>{{respuesta_plato}} </strong>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="addPlato()">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="add-adicional">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Crear nuevo adicional</h4>
            </div>
            <div class="modal-body">
                <!-- <p>Actualizar plato</p> -->

                <div class="panel panel-default">
                    <div class="panel-heading">Adicional</div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input ng-model="nombreAdicional" type="text" class="form-control" id="nombre" />
                            </div>
                             <div class="form-group">
                                <label for="nombre">valor</label>
                                <input ng-model="valor" type="text" class="form-control" id="nombre" />
                            </div>
                        </form>
                    </div>
                </div>

                <div class="alert alert-dismissable alert-success" ng-show="ver">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>{{respuesta}} </strong>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="addAdicional(id)">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="edit-plato">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Crear nuevo plato</h4>
            </div>
            <div class="modal-body">
                <!-- <p>Actualizar plato</p> -->
                <form>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input ng-model="nombrePlato" type="text" class="form-control" id="nombre" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="valor">Valor</label>
                            <input ng-model="valor" type="text" class="form-control" id="valor" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cate">Categoría</label>
                              <select ng-model="categoria" class="form-control" id="cate" ng-options="cate._id as cate.nombreCategoria for cate in categorias">
                                <option style="display:none" value="">Seleccione</option>
                               <!--  <option value="Corriente">Corriente</option>
                                <option value="A la carta">A la carta</option>
                                <option value="Postre">Postre</option> -->
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">   
                        <div class="form-group">
                            <label for="estado">Promoción</label>
                              <select ng-model="estado" class="form-control" id="estado">
                                <option style="display:none" value="">Seleccione</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="descripcion">Descripción</label>
                            <!-- <input type="text" class="form-control" id="descripcion" /> -->
                            <textarea ng-model="descripcion" id="descripcion" class="form-control" cols="6" rows="2" placeholder="Ingrese una descripción del plato"></textarea>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="imagen">Imagen</label>
                            <input file-model="imagen" type="file" class="form-control" id="imagen" />
                        </div>
                    </div>
                </form>

         <!--        <div class="panel panel-default">
                    <div class="panel-heading">Ingredientes</div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> -->

                <div class="alert alert-dismissable alert-success" ng-show="ver">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>{{respuesta}} </strong>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="addPlato()">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="ingredientes">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Ingredientes</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="nombre">Nombre ingrediente</label>
                        <input ng-model="nombreIngrediente" type="text" class="form-control" id="nombre" />
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" ng-click="addIngrediente()">Guardar</button>
                    </div>
                </form>
                <!-- <p>Actualizar plato</p> -->
                <div class="panel panel-default">
                	<div class="panel-heading">Listado de ingredientes</div>
                	<div class="panel-body">
                		<table class="table">
                			<thead>
                				<tr>
                					<th>#</th>
                					<th>Nombre</th>
                					<th>Editar</th>
                				</tr>
                			</thead>
                			<tbody>
                				<tr ng-repeat="ingrediente in ingredientes">
                					<td>{{$index+1}}</td>
                					<td>{{ingrediente.nombreIngrediente}}</td>
                					<td><button class="btn btn-success btn-sm">Editar</button></td>
                				</tr>
                			</tbody>
                		</table>
                	</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="adicionales">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Adicionales</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group">
                        <label >Nombre</label>
                        <input ng-model="nombreAdicional" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Valor</label>
                        <input ng-model="valorAdicional" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" ng-click="addAdicional()">Guardar</button>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Listado de adicionales</div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>valor</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="adicional in adicionales">
                                    <td>{{$index+1}}</td>
                                    <td>{{adicional.nombreAdicional}}</td>
                                    <td>{{adicional.valor}}</td>
                                    <td><button class="btn btn-success btn-sm">Editar</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


