
<div class="row menu-panel">
 	<div class="col-md-12">
 		<div class="item-menu-panel">
 			<a href="#/panel"><i class="fa fa-cutlery"></i>Menú</a>
            <a href="#/pedidos"><i class="fa fa-calendar-check-o"></i>Pedidios</a>
            <a href="#/promo"><i class="fa fa-money"></i>Promociones</a>
            <!-- <a href=""><i class="fa fa-users"></i>Cliente frecuente</a> -->
 			<a href=""><i class="fa fa-bar-chart"></i>Informes</a>
 		</div>
 	</div>
</div>


<div class="row admin">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">Gestión de Promociones</div>
			<div class="panel-body">
				<h1>Plato del día</h1>
				<button class="btn btn-warning">Agregar plato del día</button>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>#</th>
								<th>Plato</th>
								<th>Precio</th>
								<th>Accion</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Patacones</td>
								<td>$10.000</td>
								<td><button class="btn btn-danger">Activar</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>