
<div class="row menu-panel">
 	<div class="col-md-12">
 		<div class="item-menu-panel">
 			<a href="#/panel"><i class="fa fa-cutlery"></i>Menú</a>
            <a href="#/pedidos"><i class="fa fa-calendar-check-o"></i>Pedidios</a>
            <a href="#/promo"><i class="fa fa-money"></i>Promociones</a>
            <!-- <a href=""><i class="fa fa-users"></i>Cliente frecuente</a> -->
 			<a href=""><i class="fa fa-bar-chart"></i>Informes</a>
 		</div>
 	</div>
</div>


<div class="row admin">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">Gestión de Promociones</div>
			<div class="panel-body">
				<h1>Plato del día</h1>
				<!-- <button class="btn btn-warning" data-toggle="modal" data-target="#plato-del-dia">Agregar plato del día</button> -->
				<div class="table-responsive">
					<table class="table tabla">
						<thead>
							<tr>
								<tr>
                                    <th>#</th>
                                    <th>Imagen</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Valor</th>
                                    <!-- <th>Categoría</th> -->
                                    <th>Ingredientes</th>
                                    <th>Adicionales</th>
                                    <!-- <th>Estado</th> -->
                                    <th>Editar</th>
                                </tr>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="promo in promos | filter:'Plato del dia'">
								<td>{{$index + 1}}</td>
                                <td><img class="imagen-plato" ng-src="http://tucocinavirtual.com/test/uploads/{{promo.imagen}}"></td>
                                <td>{{promo.nombrePlato}}</td>
                                <td>{{promo.descripcion}}</td>
                                <td><span class="label label-success">${{promo.precioPlato}}</span></td>
                                <!-- <td>{{promo.idCategoria.nombreCategoria}}</td> -->
                                <td><a href="" ng-click="ingredientesLoad(promo.$id)" data-toggle="modal" data-target="#ingredientes">Ingredientes</a></td>
                                <td><a href="" ng-click="adicionalesLoad(promo.$id)" data-toggle="modal" data-target="#adicionales">Adicionales</a></td>
                                <!-- <td><span class="label label-success">{{promo.estado}}</span></td> -->
                                <td><button class="btn btn-success btn-sm" data-toggle="modal" data-target="#edit-promo">Editar</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row admin">
        <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Gestión de Promociones</div>
            <div class="panel-body">
                <h1>Promociones</h1>
                <button class="btn btn-warning" data-toggle="modal" data-target="#promocion">Agregar promoción</button>
                <div class="table-responsive">
                    <table class="table tabla">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Imagen</th>
                                <th>Accion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="promoImg in promosImg">
                                <td>{{$index + 1}}</td>
                                <td>{{promoImg.imagen_promo}}</td>
                                <td><button class="btn btn-danger">Eliminar</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>    


<div class="modal" id="ingredientes">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Ingredientes</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="nombre">Nombre ingrediente</label>
                        <input ng-model="nombreIngrediente" type="text" class="form-control" id="nombre" />
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" ng-click="addIngrediente()">Guardar</button>
                    </div>
                </form>
                <!-- <p>Actualizar plato</p> -->
                <div class="panel panel-default">
                    <div class="panel-heading">Listado de ingredientes</div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ingrediente in ingredientes">
                                    <td>{{$index+1}}</td>
                                    <td>{{ingrediente.nombreIngrediente}}</td>
                                    <td><button class="btn btn-success btn-sm">Editar</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="adicionales">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Adicionales</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group">
                        <label >Nombre</label>
                        <input ng-model="nombreAdicional" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Valor</label>
                        <input ng-model="valorAdicional" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" ng-click="addAdicional()">Guardar</button>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Listado de adicionales</div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>valor</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="adicional in adicionales">
                                    <td>{{$index+1}}</td>
                                    <td>{{adicional.nombreAdicional}}</td>
                                    <td>{{adicional.valor}}</td>
                                    <td><button class="btn btn-success btn-sm">Editar</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>





<!-- agreagr promocion -->

<div class="modal" id="promocion">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Agregar nueva promocion</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="imagen">Imagen</label>
                        <input file-model="imagen_promo" type="file" class="form-control" id="imagen" />
                    </div>
                </form>

                <div class="alert alert-dismissable alert-success" ng-show="ver">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>{{respuesta_promo_img}} </strong>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="addImgPromo()">Subir</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>