/*barra navegacion*/
.barra-navegacion{
	margin: 0;
	padding: 0;
	background-color: #008db1 !important;
	border: none !important;
	width: 100% !important;
}
.barra-navegacion a{
	color: #FFF !important;
}
.barra-navegacion a:hover{
	color: #ecf0f1 !important;
}
.logo{
	padding: 0;
	margin: 0;
	margin-top: 10px
}
.navbar-header a img{
	width: 260px;
}
.menu-header{
	float: right;
}
/*fin barra navegacion*/

/*header*/
.header{
	background: url(../public/img/header.jpg) no-repeat center;
	width: 100%;
	height: 580px;
/*	margin: 0;
	padding: 0;*/
}
.content-header{
	padding-top: 38px;
	text-align: center;
}
.img-iphone img{
	margin-bottom: 20px;
}
.botones-app img{
	width: 120px;
	padding: 4px;
}
/*fin header*/

/*Información*/
.info-planes{
	background-color: #FFF;
	margin: 0;
	padding: 40px;
}
.item-info{
	text-align: center;
}
.item-info i{
	font-size: 4em;
	color: #f39c12;
}
/*fin Información*/

/*carousel clientes*/
.clientes{
	background-color: #ebebed;
	margin: 0;
	padding: 60px;
}
.clientes h2{
	text-align: center;
	text-transform: uppercase;
}
.carousel{
	background-color: #ebebed !important;
	width: 100%;
}
.carousel .item{
	text-align: center;
}

.carousel .item img{
	display: inline;
}
.carousel-control{
	width: 0 !important;
}
/*fin carousel clientes*/


/* Como funciona */
.comoFunciona{
	background-color: #008db1;
	margin: 0;
	padding: 0;
	padding-bottom: 10%;
	padding-top: 40px;
}
.comoFunciona h2{
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 80px;
}
.comoFunciona .content-video{
	margin: 0;
	padding:0;
}
.comoFunciona .video{
	text-align: center;
}
/* Fin Como funciona */


/* footer */
.footer{
	background-color: #003748;
	color: #FFF;
	margin: 0;
	padding: 40px;
	padding-bottom: 40px;
	/*margin-top: 10%;*/
}
.footer p{
	font-size: 1.2em;
	margin: 0;
	padding: 0;
}
.footer i{
	color: #FFF;
	font-size: 2em;
	padding: 4px;
}
.footer i:hover{
	color: #008db1;
}
/* fin footer */


/* Login */

.login{
	margin: 0;
	padding: 20px;
	margin-top: 5%;
	margin-bottom:5%;
}
.login .frm-login{
	background-color: #ecf0f1;
	/*padding: 28px;*/
	/*padding-top: 0;*/
	margin: 0;
	padding: 0;
}

.login .frm-login .frm{
	padding: 28px;
	color: #7f8c8d;
}

.login .frm-login h2{
	text-align: center;
	padding: 10px;
	margin-top: 0;
	background-color: #e67e22;
	color: #FFF;
}
/* Fin Login */

/*  Pnanel admin  */
.img_categoria{
	width: 50%;
}

.menu-panel{
	margin: 20px;
}

.menu-panel .item-menu-panel{
	background-color: #ecf0f1;
	padding: 12px;
}
.menu-panel .item-menu-panel i{
	padding: 6px;
	margin-right: 6px;
	color: #FFF;
	border-radius: 50%;
	background-color: #f39c12;
}

.menu-panel .item-menu-panel a{
	padding: 6px;
	font-size: 1.1em;
	text-transform: uppercase;
	/*text-decoration: underline;*/
}
.menu-panel .item-menu-panel a:hover{
	background-color: #bdc3c7;
	text-decoration: none;
}

.item-panel{
	text-align: center;
	margin: 0;
	padding: 20px;
	padding-bottom: 0;
}

.item-panel i{
	font-size: 3.8em;
	color: #16a085;
	padding-bottom: 8px;
}
.item-panel p{
	color: #f39c12;
	font-size: 1.8em;
	padding: 0;
	margin: 0;
}
.admin{
	margin: 20px;
}

.admin .new-menu{
	margin-bottom: 10px;
}

.imagen-plato{
	width: 120px;
}
/* Fin Pnanel admin  */

